body {
  min-width: 400px;
}

.btnDefaultColor {
  color: #212529 !important;
}

.btnDefaultColor:hover {
  color: #ffffff !important;
}

.editIcon {
  color: #44ce6f;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  outline: 0 !important;
  cursor: pointer;
}
.editIcon:hover {
  color: #f48665;
  transform: translateY(-5px);
}
.box {
  cursor: pointer;
}
.btn-small {
  padding: 10px 25px;
  font-size: 12px;
}
.mobile-nav-only {
  display: none;
}
.show-pointer {
  cursor: pointer !important;
}

.anchor-more-class {
  color: #000 !important;
}
.anchor-more-class:hover {
  text-decoration: underline;
}
.nav-logo-con {
  width: 20%;
}
.nav-logo-ele {
  width: 50%;
}

.dbTag {
  color: #9fa1a2;
  font-style: italic;
  font-size: 10px;
  font-weight: 500;
  margin-bottom: 0px;
}
.opvals-con {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: 0px auto !important;
  margin-top: 10px !important;
}
.opvals-con li div {
  margin-bottom: 6px;
  text-align: center;
  width: 100%;
}
.lg-margin-top {
  margin-top: 25px;
}
.dash-links li {
  cursor: pointer;
}
.dash-links li:hover {
  color: #f48665;
}
.custom-overwrite-iconbtn button {
  cursor: pointer;
  background-color: transparent !important;
  text-shadow: none;
  text-rendering: auto;
  box-shadow: none !important;
  padding: 4px !important;
  color: rgba(0, 0, 0, 0.54) !important;
  float: none !important;
  width: auto !important;
  height: auto !important;
  border-radius: 50% !important;
  border: 0px !important;
  margin: 0px !important;
  transition: none !important;
}

.querybtnDisabled:disabled,
.querybtnDisabled[disabled] {
  background-color: #cccccc !important;
  color: #666666 !important;
}
.customBGTextfield {
  background-color: #eeeeee !important;
  outline: none !important;
}
.icon-btn-no-outline button {
  outline: none !important;
}
svg:focus {
  outline: none !important;
}
.settings-tab2 h6 {
  font-size: 13px;
  margin: 0px;
  margin-top: 10px;
}
.settings-tab2 p {
  margin-left: 10px;
}

.general-settings h6 {
  font-size: 13px;
  margin: 0px;
  margin-top: 20px;
}
.general-settings p {
  margin-left: 10px;
  font-size: 15px;
  margin-top: 0px !important;
}
.page-head1 h2 {
  font-weight: 600;
  font-size: 24px;
}
.settings-con1 {
  margin-left: 25px;
}
.normal-button button {
  transition: 0.5s;
  outline: none !important;
}
.docs-head {
  margin: 0px;
  font-size: 23px;
  font-weight: 500;
}
.docs-head2 {
  margin: 0px;
  font-size: 16px;
  font-weight: 500;
}
.docs-list li {
  display: list-item !important;
  list-style: none;
  color: #f48665;
  cursor: pointer;
}
.docs-list li a {
  color: #f48665;
}
.docs-list li a:hover {
  text-decoration: underline;
}

.docs-list li::before {
  content: "\2022"; /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: #000000; /* Change the color */
  font-weight: bolder; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1em; /* Also needed for space (tweak if needed) */
  margin-left: -1em; /* Also needed for space (tweak if needed) */
}

.docs-list {
  padding-inline-start: 40px !important;
  margin-block-start: 10px !important;
}

.docs-list2 {
  padding-inline-start: 40px !important;
  margin-block-start: 0px !important;
}
.docs-list2 li {
  display: list-item !important;
  list-style-type: circle;
}

.docs-bold {
  color: #44ce6f !important;
}
.docs-footer h6 {
  font-size: 12px;
}
.docs-footer-next {
  margin-left: auto;
}
.link {
  color: #f48665 !important;
  cursor: pointer;
}
.link:hover {
  text-decoration: underline;
}
.submeun-anchor a {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.last-one-docs {
  margin-right: auto !important;
}
.generalSet-con1 {
  width: 32%;
  box-shadow: 5px 0px 15px 0px rgba(122, 120, 212, 0.1);
  padding-right: 15px;
  border-right: 2px solid rgba(91, 89, 224, 0.1);
}
.generalSet-con2 {
  width: 65%;
  height: 100%;
  margin-left: 10px;
}
.generalSet-con-main {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  align-items: stretch;
}

.sett-gen-nav-nam p {
  margin: 0px !important;
  padding: 0px !important;
}
#db-name-popper,
#db-details-popper {
  z-index: 10;
  background-color: #ffffff;
  border-radius: 10px;
}
.popHeadMain {
  font-size: 14px;
}

.poper-dbname {
  padding: 20px 20px;
  min-width: 550px;
  border-radius: 10px;
}

.hubspot-form-con {
  padding-left: 100px;
}

.hubspot-img-con {
  padding-bottom: 70px;
  min-height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#hsForm_bd3f8434-9472-4c1e-ba2b-c22ad171e03b {
  text-align: center;
}

.fix-height-srvbox {
  height: 260px;
}

.helper-test-settings {
  color: #6084a4;
}
.wallet-view-con {
  display: flex;
  width: 100%;
  justify-content: space-around;
  flex-wrap: wrap;
  min-height: 80vh;
  padding-left: 10px;
  padding-right: 10px;
}
.wallet-con1 {
  width: 40%;
  border-right: 1px solid #dcdbdb;
}
.wallet-con2 {
  width: 55%;
  padding: 0px 20px;
}
.wallet-head h1 {
  font-size: 20px;
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.balance-Head {
  margin-top: 30px;
}
.balance-Head h1 {
  font-size: 40px;
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 0px;
}
.balance-Head p {
  color: #2d4356;
  font-weight: 500;
}
.main1-color {
  color: #f48665;
}
.wallet-btns {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
}
.wallet-btns a {
  margin-right: 10px;
  margin-bottom: 10px;
}
.wallet-btns a:active {
  background-color: red !important;
}
.deposite-dialog-con h3 {
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 0px;
}
.refresh-wallet-con {
  position: absolute;
  margin-left: 60px;
  margin-top: -18px;
}
.refresh-wallet-con button {
  outline: none;
}

.refresh-token-con {
  position: absolute;
  margin-left: 30px;
  margin-top: -18px;
}
.refresh-token-con button {
  outline: none;
}

.transaction-gr-summary {
  margin: 15px 0px;
  margin-bottom: 50px;
}
.pov-price {
  color: #44ce6f;
}
.neg-price {
  color: #f48665;
}

.tabViewCon {
  margin: 30px 20px 30px 20px;
}

.more-top-padding {
  padding-top: 80px;
}

.token-view-con {
  margin-top: 30px;
}
.token-ele {
  margin: 10px 25px 15px 10px;
}
.token-item {
  display: flex;
  align-items: center;
}
.token-item-2 {
  margin-left: 15px;
}
.token-item-2 h5 {
  margin: 0px;
  padding: 0px;
  font-size: 14px;
}
.token-item-2 p {
  margin: 0px;
  padding: 0px;
  line-height: 1.4;
  margin-top: 10px;
}
.tokens-count {
  max-width: 10%;
  margin-left: auto;
}
.mint-btn {
  margin-left: auto;
  margin-right: 25px;
}
.custom-dialog {
  z-index: 1000 !important;
}

.activity-box {
  display: flex;
  align-items: center;
  padding: 15px !important;
  border: 1px solid #c5c2c2;
  margin: 0px 5px !important;
  width: 48%;
  border-radius: 15px !important;
  min-width: 200px;
  margin-bottom: 14px !important;
}
.activity-box-dollarbal {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 800;
  margin: 0;
  font-size: 20px;
}
.activity-box-bsvbal {
  font-weight: 500;
  margin: 0;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
  top: -5px;
}
.activities-box-con {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.activity-box-tx {
  float: right;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 1px solid #f48665;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  color: #f48665;
  font-weight: 600;
}
.date-view-activity {
  display: block;
  margin-top: 10px;
  margin-bottom: 8px;
}
.sidebar-seperator {
  height: 1px;
  width: 100%;
  border-top: 1px solid #f48665;
  position: relative;
  top: -7px;
}
.sidebar-logo {
  width: 20px;
  height: 20px;
  object-fit: contain;
  background-color: transparent;
}
.wallet-sele-icon {
  width: 60px;
  height: auto;
  padding: 15px !important;
  margin: 10px !important;
  border: 1px solid #c5c2c2;
  box-shadow: none !important;
}
.withdraw-icons-con {
  width: 80%;
  margin-top: 10px;
}
.withdraw-amount-con {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.withdraw-amount-con .input-group {
  width: 44%;
}
.withdraw-amount-con .with-hori-icon {
  margin: 0px 15px;
}
.withdrawl-tab-con button {
  outline: none;
}
.ph-auth-input {
  width: 98%;
  margin: 10px auto;
}
.ph-auth-input input {
  height: 50px;
  padding: 10px 20px;
  font-size: 14px;
  color: #0e314c;
  border: 1px solid #eeeeee;
  border-radius: 0;
  background: #eeeeee;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none !important;
}

.ph-auth-input input:focus {
  border-color: #f48665 !important;
  background-color: #ffffff;
}
.ph-auth-input select {
  font-family: inherit;
  background-color: transparent;
  padding: 10px 10px 10px 0;
  font-size: 18px;
  border-radius: 0;
  border: none !important;
  outline: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}
/* Remove focus */
.ph-auth-input select:focus {
  outline: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0);
}
.PhoneInputCountry {
  border-bottom: 1px solid #eeeeee;
}

:root {
  --PhoneInputCountryFlag-height: 1.5em;
  --PhoneInput-color--focus: #f48665;
  --PhoneInputCountrySelectArrow-width: 0.5em;
  --PhoneInputCountrySelect-marginRight: 0.8em;
}
.recaptcha-div div {
  display: flex;
  justify-content: flex-start;
  margin-top: 8px;
  margin-bottom: 10px;
}

.disabled-btn {
  background-color: #949494 !important;
  box-shadow: none !important;
}
.disabled-btn:hover,
.disabled-btn:focus,
.disabled-btn:active {
  color: #ffffff;
  background: #949494;
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
  -webkit-box-shadow: none;
  box-shadow: none;
}
.disabled-btn::after,
.disabled-btn::before {
  background: #949494;
}

@media only screen and (max-width: 1200px) {
  .activity-box {
    width: 95%;
  }
  .activities-box-con {
    justify-content: center;
  }
}
@media only screen and (max-width: 1100px) {
  .nav-logo-ele {
    width: 80%;
  }
  .tabViewCon {
    margin: 20px 10px 20px 10px;
  }
}

@media only screen and (max-width: 767px) {
  .ph-auth-input {
    width: 100%;
    margin: 10px auto;
  }
  .withdraw-icons-con {
    width: 100%;
  }
  .nav-logo-con {
    width: 30%;
  }
  .nav-logo-ele {
    width: 100%;
  }
  .more-top-padding {
    padding-top: 80px !important;
  }
  .settings-con1 {
    margin-left: 15px;
  }
  .docs-footer-next {
    margin-top: 15px;
    margin-left: 0px;
  }
  .docs-footer {
    min-width: 51%;
  }
  .poper-dbname {
    min-width: 300px;
  }
  .wallet-con1 {
    width: 100%;
    padding: 0px 10px;
    border-right: 0px solid #dcdbdb;
  }
  .wallet-con2 {
    width: 100%;
    padding: 0px 10px;
    margin-top: 25px;
  }
  .customize-con {
    padding-left: 0px;
    padding-right: 0px;
  }
  .tabViewCon {
    margin: 15px 10px 15px 10px;
  }
}
@media only screen and (min-width: 767px) {
  .fix-height {
    min-height: 250px !important;
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 450px) {
  .nav-logo-con {
    width: 40%;
  }

  .more-top-padding {
    padding-top: 70px !important;
  }
  .withdraw-amount-con {
    flex-direction: column;
    margin-bottom: 15px;
  }
  .withdraw-amount-con .input-group {
    width: 80%;
  }
  .withdraw-amount-con .with-hori-icon {
    margin: 10px 15px;
  }
}

@media only screen and (max-width: 992px) {
  .md-margin-top {
    margin-top: 25px;
  }
  .hubspot-form-con {
    padding-left: 0px;
    max-width: 500px !important;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .hubspot-img-con {
    margin-bottom: 0px;
    min-height: 0px;
  }
}

/* //antd changes */
.ant-menu-item:hover,
.ant-menu-item-active,
.ant-menu:not(.ant-menu-inline) .ant-menu-submenu-open,
.ant-menu-submenu-active,
.ant-menu-submenu-title:hover {
  color: #f48665;
}
.ant-menu-item-selected {
  color: #ffffff !important;
}
/* .ant-menu-dark.ant-menu-dark:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background-color: #f48665;
} */
.ant-layout-sider {
  background-color: #ffffff !important;
}

.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background-color: #f48665 !important;
}

.ant-menu-item:active,
.ant-menu-submenu-title:active {
  background: #f4866563;
}
