.base {
  height: 92vh;
  @apply flex items-center
  bg-cover bg-no-repeat bg-center
  -mt-24;
}

.content {
  @apply w-1/2
  sm:w-full;
}

.cards {
  grid-template-columns: repeat(2, 17.35rem);
  @apply grid gap-x-5 gap-y-12;
}
