.hero {
  height: 50rem;
  margin-top: -5.5rem;
  /* z-index: -1; */
  @apply relative;
}

.heroLeft {
  @apply absolute
  transform
  -translate-y-8
  z-20;
  max-width: 25.875rem;
  top: 22%;
}

.heroRight {
  @apply relative h-full;
}

.p {
  @apply text-par text-white my-8;
}

.heroImg {
  @apply absolute top-0 -right-40 max-w-heroMax z-10;
}

.heroImgLines {
  @apply absolute top-0 -right-8 z-10;
}

.actions {
  @apply mb-8;
}

.actions button {
  @apply mr-8;
}
