@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Sofia Pro';
    src: local('Sofia Pro'), local('Roboto'), local('sans-serif'),
      url('../fonts/sofia_pro_light_az-webfont.woff2') format('woff2'),
      local('Sofia Pro'), local('Roboto'), local('sans-serif'),
      url('../fonts/sofia_pro_light_az-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Sofia Pro';
    src: local('Sofia Pro'), local('Roboto'), local('sans-serif'),
      url('../fonts/sofia_pro_regular_az-webfont.woff2') format('woff2'),
      local('Sofia Pro'), local('Roboto'), local('sans-serif'),
      url('../fonts/sofia_pro_regular_az-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Sofia Pro';
    src: local('Sofia Pro'), local('Roboto'), local('sans-serif'),
      url('../fonts/sofia_pro_medium_az-webfont.woff2') format('woff2'),
      local('Sofia Pro'), local('Roboto'), local('sans-serif'),
      url('../fonts/sofia_pro_medium_az-webfont.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Sofia Pro';
    src: local('Sofia Pro'), local('Roboto'), local('sans-serif'),
      url('../fonts/sofia_pro_semi_bold_az-webfont.woff2') format('woff2'),
      local('Sofia Pro'), local('Roboto'), local('sans-serif'),
      url('../fonts/sofia_pro_semi_bold_az-webfont.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Sofia Pro';
    src: local('Sofia Pro'), local('Roboto'), local('sans-serif'),
      url('../fonts/sofia_pro_bold_az-webfont.woff2') format('woff2'),
      local('Sofia Pro'), local('Roboto'), local('sans-serif'),
      url('../fonts/sofia_pro_bold_az-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }
}

html {
  @apply overflow-x-hidden;
}

body {
  @apply relative
  font-body
  text-body
  bg-primary
  text-white
  font-normal
  antialiased
  w-full
  h-full
  overflow-x-hidden;
}

.container {
  max-width: calc(1128px + 2.5rem);
  @apply relative
  m-auto
  px-5
  h-full;
}

.preloader {
  @apply bg-gradient;
}

p {
  color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #fff;
  font-weight: 700;
}
