.base {
  min-height: 39.1rem;
  height: 39.1rem;
}

.left,
.right {
  @apply flex-1;
}

.left {
  @apply py-16;
}

.imgLeftWrapper {
  @apply relative mt-11;
}

.imgLeft {
  @apply absolute;
  left: -75px;
}
