.App {
  text-align: center;
}

/* //press long hold btn */
@-webkit-keyframes fill {
  to {
    background-size: 0 100%;
    color: #ffffff;
  }
}

@keyframes fill {
  to {
    background-size: 0 100%;
    color: #ffffff;
  }
}

.cnh_holding button {
  background: -webkit-linear-gradient(#613aea, #ff2868) #ff2868 no-repeat 0 0;
  background: linear-gradient(#613aea, #ff2868) #ff2868 no-repeat 0 0;
  color: #ffffff;
  mix-blend-mode: multiply;
  background-size: 100% 100%;
  -webkit-animation: fill 1.5s forwards;
  animation: fill 1.5s forwards;
  animation-direction: reverse;
}

/* //custom textfield */
.custom-padding label {
  transform: translate(12px, 12px) scale(1);
}

.custom-padding input {
  padding: 12px 12px;
}
